body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(144, 150, 165);
  color: rgb(34, 33, 33);
}

h1 {
  text-align: center;
  color: #000;
  padding-top: 1rem;
}

form {
  width: 33rem;
  padding: 10px 15px;
  margin: 3rem auto;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.2);
  background: linear-gradient(45deg, rgb(190, 204, 221), rgb(183, 199, 218));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.35em;
  border-radius: 3px;
  border: 1px solid rgb(68, 67, 67);
  margin-bottom: 0.7rem;
  box-sizing: border-box;
}

input:focus,
input:hover,
textarea:hover {
  border: 2px solid rgb(244, 212, 54);
  cursor: pointer;
}

textarea {
  resize: none;
}

.form-control {
  display: flex;
}

.form-control input {
  width: auto;
  margin-right: 0.5rem;
}

section > .form-control {
  margin-top: 0.7rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 5rem;
  height: 2rem;
  border-radius: 4px;
  font: inherit;
  font-size: 0.9rem;
  margin: 1rem 0 0.9rem 0.2rem;
  cursor: pointer;
}

#clear {
  background-color: transparent;
}

#submit {
  background-color: rgb(67, 74, 107);
  color: white;
}

#clear:hover {
  background-color: rgba(67, 74, 107, 0.671);
  color: white;
}

#submit:hover {
  background-color: rgba(67, 74, 107, 0.671);
}
